html {
  --mybeige: #ffeabf;
  --mywhite: #fdfdf7;
  --blueblack: #303045;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

body {
  background: var(--mywhite);
}
/* body {
  width: 100%;
  height: 100vh;
  background: url('/img/KQ_Sepia.png') no-repeat;
  background-size: cover;
  background-color: #303030;
} */
